<h1>Rexへようこそ</h1>
<p>コロナに負けるな！イベントを始めよう　　　</p>   

<%= link_to("イベントを開催する","/make_event") %>
<br>  <br>
<%= link_to("イベントスケジュール","/schedule") %>
<br>  <br>
<%= link_to("自分が参加中のイベント一覧","/myevent") %>

