<h1>Rexへようこそ</h1>
<p>コロナに負けるな！イベントを始めよう　　　</p>   
<%= link_to("新規登録はこちらから","/users/sign_up") %>
<br> <br>

<%= link_to("イベントを開催する","/make_event") %>
<br>  <br>
<%= link_to("未定のイベント一覧","/event_list") %>
<br>  <br>
<%= link_to("イベントスケジュール","/schedule") %>