<p><font size="7"> イベントを開催する</font></p>
<br> 

<%= form_tag("/create") do %>
<p>イベントタイトル<p>
<input type="text" name="title">  
<p>イベントの内容<p>
<textarea name="content"></textarea>
<p>イベント日時を選択（日程調整する場合は選択しないこと)<p>
<%= datetime_field_tag :date %>
<br>
<br>
<input type="submit" value="開催する">
<% end %>



