<p><font size="7"> イベントメンバー</font></p>
<% if @memberlists.instance_of?(Array) %>
    <% @memberlists.each do |m| %>
        <%= m.name %>
    <% end %>
<% elsif @memberlists.instance_of?(String) %>
    <%= @memberlists %>
<% else %>
    <%= @memberlists.name %>
<% end %>

    