<p><font size="7"> 自分が参加中のイベント</font></p>
<% if @myevents.instance_of?(Array) %>
    <% @myevents.each do |m| %>
        <% if m.flag.nil? %>  
            <%= link_to("#{m[:title]}","/show_event/#{m[:id]}") %>  
            <br>
        <% end %>
    <% end %>
<% elsif @myevents.instance_of?(String) %>
    <%= @myevents %>
<% else %>
    <% if @myevents.flag.nil? %> 
        <%= link_to("#{@myevents[:title]}   +++++開催日時:#{@myevents[:date]}","/show_event/#{@myevents[:id]}") %>
    <% end %>
<% end %>  
