// Place all the styles related to the eventpage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.closed_event {
    height: 150px;                  /* 高さ指定 */
    padding:  0px;                 /* 余白指定 */
    font-size: 15px;                /* 文字サイズ指定 */
    background-color: #FFABCE;      /* 背景色指定 */
}

.join_event {
    height: 150px;                  /* 高さ指定 */
    padding:  0px;                 /* 余白指定 */
    font-size: 15px;                /* 文字サイズ指定 */
    background-color:#7FFF00;  /* 背景色指定 */
}

.absent_event{
    height: 150px;                  /* 高さ指定 */
    padding:  0px;                 /* 余白指定 */
    font-size: 15px;                /* 文字サイズ指定 */
    background-color:#AFEEEE;  /* 背景色指定 */
}


